<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>发现</title>
	<!--<link rel="stylesheet" type="text/css" href="css/lib/reset.css" />-->
	<!--<link rel="stylesheet" type="text/css" href="css/lib/bootstrap.min.css" />-->
	<!--<link rel="stylesheet" type="text/css" href="css/style/common.css" />-->
	<!--<link rel="stylesheet" type="text/css" href="css/style/home.css" />-->

	<link rel="stylesheet" type="text/css" href="../static/css/lib/reset.css" th:href="@{css/lib/reset.css}" />
	<link rel="stylesheet" type="text/css" href="../static/css/lib/bootstrap.min.css" th:href="@{css/lib/bootstrap.min.css}" />
	<link rel="stylesheet" type="text/css" href="../static/css/style/common.css" th:href="@{css/style/common.css}" />
	<link rel="stylesheet" type="text/css" href="../static/css/style/home.css" th:href="@{css/style/home.css}" />
</head>
<body>
<div th:include="header"></div>

<main role="main" class="App-main">
	<div class="main-feed-wrapper">
		<div id="home-feed-list">
			<div id="none-dynamic-ask" class="common-box none hide">
				暂时没有提问 ~
			</div>

			<div class="question-filter common-box">
               	<span class="logReg-textButton unselectable hot-filter selected-filter">热门排序</span>
               	<span class="logReg-textButton unselectable time-filter">时间排序</span>
			</div>

			<div class="feed-item common-box" id="dynamic-ask-3">
				<div class="feed-item-inner">
					<div class="feed-main">
						<button class="delete del-ask commentBox-textButton" data-toggle="modal" data-target="#deleteModal">删除</button>
						<!-- source , vote , title , content , meta -->
						<div class="feed-source">
								<span class="author-link-line">
									<a href="xuedinge.html" class="author-link">薛定谔的猫</a>
								</span>
							<span class="author-do">
									提出了问题
								</span>
						</div>
						<h2 class="feed-title ask-title">
							<a href="question.html" class="question-link" target="_blank">什么是有效的关心？</a>
						</h2>
						<div class="feed-content">
							<div class="feed-summary">
								现在大四 大二升大三那年暑假，由于家里帮忙找了兼职，就没有会老家。正好舍友也有像简直就住在学校旁边，老房子像2000年左右的了，老鼠有成年汉子手掌那么大，反正很破。由于三个人住也没什么，这里说a和b(另外俩舍友)。没住几天a回老家当兵去了，和b在住后来b也走了去杭州玩了，mdzz我明显是被坑的那个。后来就我一个人住那个破房子单间，一楼，靠路边，旁边没人家。很恐怖。以上背景。我之后就一个人，后来住的地方旁边有条流浪狗，我觉得可怜，一般我吃晚饭快餐点两份...<span class="expand">显示全部</span>
							</div>
							<div class="feed-summary-whole clearfix hide">
								<p>现在大四</p>
								<p>大二升大三那年暑假，由于家里帮忙找了兼职，就没有会老家。正好舍友也有像简直就住在学校旁边，老房子像2000年左右的了，老鼠有成年汉子手掌那么大，反正很破。由于三个人住也没什么，这里说a和b(另外俩舍友)。没住几天a回老家当兵去了，和b在住后来b也走了去杭州玩了，mdzz我明显是被坑的那个。后来就我一个人住那个破房子单间，一楼，靠路边，旁边没人家。很恐怖。</p>
								<p>以上背景。</p>
								<p>我之后就一个人，后来住的地方旁边有条流浪狗，我觉得可怜，一般我吃晚饭快餐点两份，我吃一份(大荤)，帮狗带一份(最便宜的六块蛋炒饭)。然后一两天之后狗狗就在我门口不走了，我开门它还要进来，然后就趴在门口边，我怕野狗半夜发疯咬我喉咙怎么办，一直不许进来。它也乖，就趴在我门口，就这样半个月后。有天晚上差不多两三点左右，狗狗开始叫了(以前很安静一直没叫过)，就在我门口的地方，很凶的那种，很凶的那种，很凶的那种。我被吵醒，觉得很怪，但是害怕就没下床开门去看。那只狗就在门口叫了40分钟左右都没有停过，一直叫。我也听不见有人过路，一点声音都没有，只有狗叫，就算过路也不用过这么久，我也没在意，继续睡了。</p>
								<p>第二天早上上班出门，看见离我不远处的有户人家办丧，半夜死人了。我看了毛骨悚然。因为老家在农村，知道狗可以看见鬼。我就估计昨晚狗应该看见了脏东西，然后就为了护着我一直在门口叫，但是一想到昨晚有个脏东西就在我门外，屎差点吓出来。然后晚上请狗吃了顿好的，毕竟过命的交情。现在想想也蛮恐怖的。</p>
								<p>之后的日子狗也没有叫过，更加肯定了我的想法。</p>
								<button type="button" class="btn pack-up">收起</button>
							</div>
						</div>
						<div class="feed-meta">
							<span class="meta-item answer-date">编辑于2016-09-21</span>
							<span class="meta-item meta-answer">
									<span class="answer-count">23</span>
									个回答
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- 加载更多 -->
		<div class="load-more">
			<span class="more">加载更多>></span>
			<span class="loading hide">加载中...</span>
		</div>
	</div>
</main>

<div class="modal" id="askModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
				<h4 class="modal-title">提问</h4>
			</div>
			<div class="modal-body">
				<textarea id="q_title" name="question-ask-title" class="form-control" placeholder="输入你的问题" rows="1"></textarea>
				<br />
				<textarea id="q_content" name="question-ask-desc" class="form-control" placeholder="输入你的问题描述" rows="10"></textarea>
			</div>
			<div class="modal-footer">
				<button id="add_question" type="button" class="btn btn-primary btn-submit-ask">提交</button>
			</div>
		</div>
	</div>
</div>

<div class="modal" id="deleteModal" data-delId="0">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
				<h4 class="modal-title">删除</h4>
			</div>
			<div class="modal-body">
				
			</div>
			<div class="modal-footer">
				<button type="button" class="confirm-del btn btn-primary">确认删除</button>
			</div>
		</div>
	</div>
</div>
<div class="modal" id="popModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
				<h4 class="modal-title">提示</h4>
			</div>
			<div class="modal-body">

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">确定</button>
			</div>
		</div>
	</div>
</div>



<script type="text/javascript" src="js/lib/jquery.min.js"></script>
<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="js/style/common.js"></script>
<script type="text/javascript" src="/js/custom/putQuestion.js"></script>
<script type="text/javascript" src="js/custom/deleteDynamic.js"></script>
<script type="text/javascript" src="js/custom/expandQuestion.js"></script>
<script type="text/javascript" src="js/style/moreForDiscovery.js"></script>
<!-- 
<script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/style/common.js"></script>
<script type="text/javascript" src="../static/js/custom/putQuestion.js"></script>
<script type="text/javascript" src="../static/js/custom/deleteDynamic.js"></script>
<script type="text/javascript" src="../static/js/custom/expandQuestion.js"></script>
<script type="text/javascript" src="../static/js/style/moreForDiscovery.js"></script>  -->

</body>
</html>