<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>我的提问</title>
<link rel="stylesheet" type="text/css" href="css/lib/reset.css" />
<link rel="stylesheet" type="text/css" href="css/lib/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="css/style/common.css" />
<link rel="stylesheet" type="text/css" href="css/style/personal.css" />
</head>
<body>
	<header role="banner" class="AppHeader">
		<div class="AppHeader-inner">
			<a href="home.html" aria-label="知也" class="AppName" title="进入首页">知也</a>
			<nav role="navigation" class="AppHeader-nav">
				<a href="home.html" class="AppHeader-navItem">首页</a>
			</nav>
			<div role="search" class="SearchBar">
				<div class="SearchBar-toolWrapper">
					<form action="searchResultQue.html" class="SearchBar-tool">
						<div class="SearchBar-input">
							<input type="text" name="" aria-expanded="false" class="form-control" placeholder="搜索你感兴趣的内容" />
						</div>
						<button class="btn btn-default SearchBar-searchIcon">搜索</button>
					</form>
				</div>
				<button type="button" class="SearchBar-askButton Button Button--primary Button--blue" data-toggle="modal" data-target="#askModal">提问</button>
			</div>
			<div class="AppHeader-userInfo">
				<div class="AppHeader-username">
					<a href="myAnswers.html" title="进入个人主页">薛定谔的猫</a>
				</div>
			</div>
		</div>
	</header>

	<main role="main" class="App-main">
		<div class="main-feed-wrapper">
			<div class="profile-header">
				<div class="common-box brief-info">
					<h1 class="info-author-name">薛定谔的猫</h1>
					<span>的个人主页</span>
				</div>
			</div>
			<div class="profile-main">
				<div class="common-box profileMain-wrapper">
					<div class="profileMain-header">
						<div class="profileMain-header-inner">
							<ul role="tablist" class="Tabs ProfileMain-tabs">
								<li role="tab" class="Tabs-item" aria-controls="Profile-answers">
									<a class="Tabs-link" href="myAnswers.html">
									    回答
									    <span class="Tabs-meta">28</span>
									</a>
								</li>
								<li role="tab" class="Tabs-item" aria-controls="Profile-asks">
									<a class="Tabs-link is-active" href="myAsks.html">
									    提问
									    <span class="Tabs-meta">15</span>
									</a>
								</li>
								<li role="tab" class="Tabs-item" aria-controls="Profile-info">
									<a class="Tabs-link" href="myInfo.html">
									    个人信息
									</a>
								</li>
							</ul>
						</div>
					</div>
					<div id="profile-asks"  class="List">
						<div class="List-header">
							<h4>我的提问</h4>
						</div>
						<div class="List-content">
							<div class="ask-item List-item">
								<span class="ask-title"><a href="question.html" target="_blank" title="进入问题主页">支教有意义吗</a></span>
								<div class="ask-status">
									<span class="ask-statusItem">2016-12-12</span>
									<span class="ask-statusItem">23个回答</span>
								</div>
							</div>
							<div class="ask-item List-item">
								<span class="ask-title"><a href="question.html" target="_blank" title="进入问题主页">大学刚毕业的你，曾经都是怎么走过来的？</a></span>
								<div class="ask-status">
									<span class="ask-statusItem">2016-12-07</span>
									<span class="ask-statusItem">45个回答</span>
								</div>
							</div>
							<div class="ask-item List-item">
								<span class="ask-title"><a href="question.html" target="_blank" title="进入问题主页">旅途中，你和陌生人之间发生过哪些有意思的事？</a></span>
								<div class="ask-status">
									<span class="ask-statusItem">2016-11-30</span>
									<span class="ask-statusItem">19个回答</span>
								</div>
							</div>
							<div class="ask-item List-item">
								<span class="ask-title"><a href="question.html" target="_blank" title="进入问题主页">你是什么时候发现自己老了？</a></span>
								<div class="ask-status">
									<span class="ask-statusItem">2016-09-23</span>
									<span class="ask-statusItem">55个回答</span>
								</div>
							</div>

							<!-- 加载更多 -->
							<div class="load-more">
								<span class="more">加载更多>></span>
								<span class="loading hide">加载中...</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

<div class="modal" id="askModal">
	<div class="modal-dialog"> 
		<div class="modal-content"> 
 			<div class="modal-header">
 				<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button> 
 				<h4 class="modal-title">提问</h4> 
 			</div> 
			<div class="modal-body">
				<textarea name="question-ask-title" class="form-control" placeholder="输入你的问题" rows="1"></textarea>
				<br />
  				<textarea name="question-ask-desc" class="form-control" placeholder="输入你的问题描述" rows="10"></textarea>
  			</div> 
  			<div class="modal-footer">
   				<button type="button" class="btn btn-primary btn-submit-ask">提交</button> 
   			</div>
    	</div>
	</div> 
</div>

<script type="text/javascript" src="js/lib/jquery.min.js"></script>
<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="js/style/common.js"></script>
</body>
</html>