<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>注册</title>
<link rel="stylesheet" type="text/css" href="../static/css/lib/reset.css" th:href="@{css/lib/reset.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/lib/bootstrap.min.css" th:href="@{css/lib/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/style/common.css" th:href="@{css/style/common.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/style/logAndReg.css" th:href="@{css/style/logAndReg.css}" />
</head>
<body>
	<header role="banner" class="AppHeader">
		<div class="AppHeader-inner">
			<a href="home.html" aria-label="知也" class="AppName" title="进入首页">知也</a>
			<span class="errorSpan">注册页</span>
		</div>
	</header>

	<main role="main" class="App-main">
		<div class="main-feed-wrapper">
			<!--<form id="registerForm" action="#" method="post">-->
				<div>
					<label for="email">邮箱</label>
					<input type="text" name="email" id="email" placeholder="设置你的邮箱" class="form-control" />
					<!-- <span class="errorSpan"></span> -->
				</div>
				<div>
					<label for="username">用户名</label>
					<input type="text" name="username" id="username" placeholder="设置你的用户名" class="form-control" />
					<!-- <span class="errorSpan"></span> -->
				</div>
				<div>
					<label for="password">密码</label>
					<input type="password" name="password" id="password" placeholder="设置你的密码" class="form-control" />
					<!-- <span class="errorSpan"></span> -->
				</div>
				<div>
					<label for="password2">确认密码</label>
					<input type="password" name="password2" id="password2" placeholder="确认你的密码" class="form-control" />
					<!-- <span class="errorSpan"></span> -->
				</div>
				<span class="errorMessage"></span>
                <button id="register" type="submit" class="btn btn-primary">注册</button>
                <a href="login.html" class="logReg-textButton">登录</a>
            <!--</form>	-->
		</div>
	</main>


<div class="modal" id="popModal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
				<h4 class="modal-title">提示</h4>
			</div>
			<div class="modal-body">

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary">确定</button>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript" src="js/lib/jquery.min.js"></script>
<script type="text/javascript" src="js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="js/lib/jquery.validate.js"></script>
<script type="text/javascript" src="js/lib/jquery.validate.messages_cn.js"></script>
<script type="text/javascript" src="js/custom/register.js"></script>
<!-- 
<script type="text/javascript" src="../static/js/lib/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/lib/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/lib/jquery.validate.js"></script>
<script type="text/javascript" src="../static/js/lib/jquery.validate.messages_cn.js"></script>
<script type="text/javascript" src="../static/js/custom/register.js"></script> -->
</body>
</html>