@CHARSET "UTF-8";
body {
    font-family: Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.7;
    word-wrap: break-word;
    color: #222;
    background-color: #f7f8fa;
}
a {
    color: inherit;
    text-decoration: none;
}
h2, h3, h4, h5 {
    font-weight: 700;
    font-size: 14px;
    outline: 0;
}
textarea {
	resize: none;
}
button {
	outline: none;
}
li {
	list-style-type: none;
}


.unselectable {
	-moz-user-select:none;
	-khtml-user-select:none;
	-webkit-user-select:none;
}
.common-box {
	margin-top: 8px;
	margin-bottom: 20px;
    background: #fff;
    border: 1px solid #e7eaf1;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0,37,55,.05);
    box-sizing: border-box;
}
/*清除浮动*/
.clearfix:before, .clearfix:after {
    display: table;
    content: "";
    clear: both;
}

.Button {
    display: inline-block;
    height: 36px;
    padding: 0 16px;
    font-size: 14px;
    line-height: 34px;
    color: #8590a6;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ccd8e1;
    border-radius: 3px;
}
.Button--primary, .Button--blue {
    color: #fff;
    background: #0f88eb;
    border: 1px solid #0f88eb;
}
.author-link {
	font-weight: 700;
}
.author-link:hover {
	color: black;
}
.question-link {
	font-size: 17px;
	color: #259;
}
.question-link:hover {
	color: #259;
}
.expand {
	display: inline-block;
    padding: 0 3px;
    font-size: .8em;
    color: #259;
    cursor: pointer;
}
.expand:hover {
    text-decoration: none;
	border-radius: 2px;
    background-color: #eff6fa;
}
.pack-up {
	float: right;
	background-color: #81baeb;
	opacity: 0.9;
	color: white;
	padding-top: 3px;
	padding-bottom: 3px;
}
.pack-up:hover {
	opacity: 1;
	color: white;
}
.feed-vote {
	display: inline-block;
	margin-left: 20px;
	padding: 4px 9px;
	width: 60px;
	text-align: center;
	background-color: #eff6fa;
	color: #698ebf;
	border-radius: 3px;
	font-size: 17px;
}
.feed-vote:hover {
	background-color: #698ebf;
	color: white;
	cursor: pointer;
}
.feed-vote.voted {
	background-color: #698ebf;
	color: white;
}
.feed-summary {
	cursor: pointer;
}



/*页面顶部*/
.AppHeader {
    position: fixed;
    z-index: 100;
    width: 100%;
    min-width: 1024px;
    background: #fff;
    border-bottom: 1px solid rgba(30,35,42,.06);
    box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
    background-clip: content-box;
}
.AppHeader-inner {
	display: flex;
    position: relative;
    top: 0;
    /*固定宽高*/
    width: 1000px;  
    height: 60px;
    padding: 0 16px;
    margin: 0 auto;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: top .3s;
    transition: top .3s;
}
.AppHeader-inner .AppName {
	color: #0f88eb;
	font-size: 30px;
}
.AppHeader-inner .AppName:hover {
	text-decoration: none;
}

/*导航栏*/
.AppHeader-nav {
	display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 170px;
    height: 30px;
    margin-right: 27px;
    margin-left: 27px;
    color: #999;
}
.AppHeader-navItem {
    padding: 0 10px;
    font-size: 15px;
    line-height: 30px;
    color: #8590a6;
}
.AppHeader-navItem:hover {
	text-decoration: none;
}

/*搜索栏*/
.SearchBar {
	display: flex;
}
.SearchBar-toolWrapper {
    position: relative;
    z-index: 104;
    width: 326px;
    margin-top: 1px;
}
.SearchBar-tool {
    position: relative;
    float: left;
    overflow: hidden;
}
.SearchBar-input {
	width: 326px;
}
.SearchBar-searchIcon {
	position: absolute;
	top: 0;
	right: 0;
}
/*提问*/
.SearchBar-askButton {
    z-index: 103;
    padding: 0 14px;
    margin-left: 16px;
    -webkit-transition: opacity .3s ease,-webkit-transform .3s ease;
    transition: opacity .3s ease,-webkit-transform .3s ease;
    transition: opacity .3s ease,transform .3s ease;
    transition: opacity .3s ease,transform .3s ease,-webkit-transform .3s ease;
}


/*用户昵称*/
.AppHeader-userInfo {
    position: absolute;
    top: 30px;
    right: 0;
    z-index: 104;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}


/*页面主体*/
.App-main {
    min-height: 340px;
    padding: 70px 0 50px;
    position: relative;
    z-index: 2;
    width: 920px;
    margin: 0 auto;
    clear: both;
}
.main-feed-wrapper {
	position: relative;
}



/*footer的编辑时间、评论等*/
.answer-actions {
	/*border-top: 1px dotted #ccc;*/
	margin-top: 7px;
	padding-top: 5px;	
}
.meta-item {
	text-decoration: none;
	margin-left: 35px;
	color: #999;	
}
a.meta-item:hover {
	text-decoration: none;
	color: #259;
}
a.meta-item.toggle-comment.on {
	color: #259;
}

/*评论*/
.comment-holder {
	margin-left: 80px;
}
.comment-holder, .comment-wrapper {
	max-width: 600px;
}
.comment-wrapper {
	border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    position: relative;
    margin-top: 1em;
    margin-bottom: 3em;
    padding-bottom: 5px;
}
.comment-wrapper .icon-spike {
    background-image: url("https://static.zhihu.com/static/revved/img/sprites-1.9.2.4c54885a.png");
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    top: -8px;
    left: 135px;
    width: 13px;
    height: 8px;
    background-position: -200px -165px;
}
.comment-wrapper .comment-box {
	padding-left: 1em;
    padding-right: 1em;
}
.comment-wrapper .comment-box .commentItem {
	position: relative;
    list-style: none;
    outline: none;
    padding: .9em 0;
    border-bottom: 1px solid #eee;
}
.commentItem-header {
	color: #999;
}
.commentItem-header .author-link {
	font-weight: 600;
	font-size: 13px;
	color: #222;
}
/*删除按钮*/
.commentItem-header button {
	padding: 4px;
	float: right;
}
.commentItem-header button:hover {
	background-color: #999;
	color: white;
}
.commentItem-content {
	min-height: 22px;
    word-wrap: break-word;
    color: #222;
    margin-left: 10px;
}
.commentItem-footer {
	font-size: .95em;
	color: #999;
}
.commentItem-footer .commentItem-likes {
	float: right;
    padding-right: 2px;
}
.commentItem-footer .commentItem-action {
	padding: 0;
    border: 0;
    outline: 0;
    background: none;
    cursor: pointer;
    color: #999;
    margin-left: .6em;
    visibility: hidden;
}
.commentItem-footer .commentItem-action:hover {
	color: #698ebf;
	text-decoration: none;
}
.commentItem-footer .commentItem-action.on {
	color: #698ebf;
	font-weight: 700;
}


/*对于回答里的评论的操作*/
.commentReply-expanded, .comment-box-expanded {
	margin-top: 1em;
    padding-bottom: 0;
    text-align: right;
    line-height: 33px;
    /*display: none;*/
}
.commentReply-input, .comment-box-input {
	margin-bottom: 5px;
}
/*评论内的文字按钮*/
.commentBox-textButton, .logReg-textButton {
	padding: 0;
    border: 0;
    outline: 0;
    background: none;
    cursor: pointer;
    color: #999;
}
.commentReply-submitButton, .comment-box-submitButton {
	float: right;
}
.commentReply-cancelButton {
	margin-right: 1em;
}

/*评论区最下面的“提交评论”*/
.comment-box-expanded {
	padding: 2px 10px;
}


/*加载更多*/
.load-more {
	margin-top: 4px;
	text-align: center;
}
.load-more span {
	color: #555;
	font-size: 13px;
	cursor: pointer;
}
.load-more span:hover {
	font-weight: 600;
}

/*模态框头部*/
.modal .modal-header {
	background-color: #259;
	color: white;
}
.modal .modal-header .close span {
	color: white;
}



